@font-face {
  font-family: "GT Sectra Fine";
  font-style: normal;
  font-weight: 300;
  src:url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Book.eot");
  src:url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Book.eot?#iefix") format("embedded-opentype"),
      url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Book.woff") format("woff"),
      url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Book.ttf") format("truetype");
}
@font-face {
  font-family: "GT Sectra Fine";
  font-style: normal;
  font-weight: 400;
  src:url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Regular.eot");
  src:url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Regular.eot?#iefix") format("embedded-opentype"),
      url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Regular.woff") format("woff"),
      url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "GT Sectra Fine";
  font-style: normal;
  font-weight: 500;
  src:url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Medium.eot");
  src:url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Medium.eot?#iefix") format("embedded-opentype"),
      url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Medium.woff") format("woff"),
      url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "GT Sectra Fine";
  font-style: normal;
  font-weight: 600;
  src:url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Bold.eot");
  src:url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Bold.eot?#iefix") format("embedded-opentype"),
      url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Bold.woff") format("woff"),
      url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "GT Sectra Fine";
  font-style: normal;
  font-weight: 700;
  src:url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Black.eot");
  src:url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Black.eot?#iefix") format("embedded-opentype"),
      url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Black.woff") format("woff"),
      url("~static/fonts/gt-sectra-fine/GT-Sectra-Fine-Black.ttf") format("truetype");
}
